/* commons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: #f0efe9;
}

.done {
    text-decoration: line-through;
}

.visible {
    display: inline-block !important;
}

/* header */

header h1 {
    text-align: center;
    margin: 60px 0 30px;
    font-weight: 300;
}

/* main */

.container {
    min-width: 300px;
    width: 30%;
    min-height: 500px;
    margin: 0 auto 100px;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    padding: 40px;
    position: relative;
}

/* date */

.date {
    display: flex;
    justify-content: space-between;
}

.full-date {
    display: flex;
}

.date-left {
    font-size: 40px;
    display: flex;
    align-items: flex-end;
    line-height: 36px;
    vertical-align: bottom;
}

.date-right {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 5px;
}

.month, .only-day {
    text-transform: uppercase;
}

.only-day {
    font-size: 14px;
    display: flex;
    align-items: center;
}

/* tasks */

.tasks {
    margin-top: 40px;
}

.task {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    cursor: pointer;
}

.task .text {
    width: calc(100% - 25px);
}

.manage-task {
    position: relative;
}

.dot {
    width: 25px;
    aspect-ratio: 1;
    line-height: 20px;
    text-align: center;
    border: 2px solid #eff1f7;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot i, .delete-task i {
    font-size: 12px;
    display: none;
}

.dot i::before {
    vertical-align: center;
}

.delete-task {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
}

.delete-task i {
    height: 25px;
    line-height: 25px;
    font-size: 14px;
}

p {
    margin-top: 30px;
}

/* add task */

.add-task input {
    display: block;
    margin: 30px auto;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 5px;
}

.add-task input::placeholder {
    text-align: center;
}

.plus {
    font-size: 40px;
    color: white;
    width: 90px;
    aspect-ratio: 1;
    line-height: 90px;
    text-align: center;
    border-radius: 50%;
    background-color: #4fe3a4;
    position: absolute;
    left: 50%;
    bottom: -50px;
    transform: translate(-50%);
    z-index: 1;
}

/* media */

@media (max-width: 400px){
 
    #root {
        height: 100vh;
        overflow: hidden;
    }

    header h1 {
        margin-top: 30px;
    }

    .tasks {
        max-height: 400px;
        overflow-y: auto;
    }

    .task {
        justify-content: flex-start;
    }

    .task .text {
        width: calc(100% - 50px);
        word-wrap: break-word;
        padding-right: 5px;
    }


}